# SPDX-FileCopyrightText: 2025 Np93-237
#
# SPDX-License-Identifier: EUPL-1.2

[submodule "SPIRV-Cross"]
	path = vendor/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
	ignore = dirty
[submodule "glslang"]
	path = vendor/glslang
	url = https://github.com/KhronosGroup/glslang
	ignore = dirty
[submodule "PicoSHA2"]
	path = vendor/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2/
	ignore = dirty
